<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AirBnB clone</title>

		<link rel="shortcut icon" href="images/icon.ico" >

		<link rel="stylesheet" href="styles/4-common.css"/>
		<link rel="stylesheet" href="styles/3-header.css"/>
		<link rel="stylesheet" href="styles/3-footer.css"/>
		<link rel="stylesheet" href="styles/6-filters.css"/>
	</head>
    <body>
		<header>
			<div id="header_logo"></div>
		</header>
		<div class="container">
			<section class="filters">
				<button>Search</button>
				<div class="locations">
					<h3>States</h3>
					<h4>&nbsp;</h4>
					<UL class="popover">
						<UL> {% for state in sorted_states.values() | sort(attribute="name") %}
                        <LI><STRONG>{{ state.name }}</STRONG>
                        <UL> {% for city in state.citites|sort(attribute="name" %}
                            <LI>{{ city.name }}</LI>
                            {% endfor %}
                        </UL>
                        </LI>
                        {% endfor %}
                    </UL>
                </DIV>

				<div class="amenities">
					<h3>Amenities</h3>
					<h4>&nbsp;</h4>
                    <UL class="popover">
                    {% for thing in amenity.values()|sort(attribute="name" %}
					<LI>{{ thing.name }}</LI>
                    {% endfor %}
                    </UL>
				</div>
			</section>
		</div>
		<footer>
			<p>Holberton School</p>
		</footer>
	</body>
</html>
